body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
    width: 100%;
   /* background-color: #555;*/
    overflow: auto;
    border-bottom: 2px solid white;
}

.navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    display: inline-block ;
}

.navbar #name1 {
   float:left;
    font: 40px Oswald;

}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}