<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icons/pencil.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<div class="top-bar-agile">
    <div class="clear"></div>
</div>
<div class="content-w3">
    <h1>Error</h1>
    <h2>Something went wrong</h2>
    <p>The request you made cannot be completed.</p>
</div>
</body>
</html>