<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icons/pencil.png}"/>
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
    <a href="/landing" id="name1"> AnnotationPlus</a>
</div>
<div class="wrapper">
    <h1>Forgot Password</h1>
    <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
    <div align="center" id="error" style="display: none">
        <p style="font-size: 30; color: #FF1C19;"></p>
    </div>
    <div align="center" id="success" style="display: none" >
        <p class="text-success" style="font-size: 30; color: green;" >A recovery email was sent to the specified address</p>
    </div>
    <form class="form" method="POST">
        <div class="form-group"></div>
        <input type="text" id="email" name="email" th:placeholder="Email" class="name">
        <input type="button" name="Submit" value="Send recovery email" id="requestToken"
               class="submit">
    </form>
    <p style="text-align: center; margin-top: 1px;">
        <a href="/login" style="display: block; float: right">Sign In </a>
    </p>
    <div class="loading">Loading&#8230;</div>
</div>
</body>
<script  th:src="@{/js/index.js}"></script>
<script  th:src="@{/js/common.js}"></script>
</html>