<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
    <a id="name1"> AnnotationPlus</a>
    <!--<div>
    <p><a href="/forgot-password"><i class="fa fa-fw fa-user"></i> Forgot Password</a></p>
    <p><a href="/registration"><i class="fa fa-fw fa-user"></i> Sign Up</a></p>
    </div>-->
</div>
<div class="wrapper">
    <!--<h1 id="name1">AnnotationPlus</h1> -->
    <h1>Sign In</h1>
   <!-- <p>To login to the application please enter your email address and password.
    If you do no have an account you can create one <a href="/registration">here</a>.</p>-->
    <div align="center">
    <p style="font-size: 30; color: green;" class="text-success" th:utext="${successMessage}"></p>
    </div>
    <div align="center" th:if="${param.error}">
        <p style="font-size: 30; color: #FF1C19;">Invalid Email and/or Password, please try again</p>
    </div>
    <form class="form" th:action="@{/login}" method="POST">
        <input type="text" id="email" name="email" th:placeholder="Email" class="name">
        <span id="loginEmailErrorMessage" class="errorMessages" >Email must be a valid email address !</span>
        <div>
            <p class="name-help">Please enter your current email address.</p>
        </div>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="email">
        <div>
            <p class="email-help">Please create a password.</p>
        </div>
        <input name="Submit" value="Sign In" id="loginButton" type="Submit"
                class="submit">
    </form>
    <!--<div align="center" th:if="${param.error}">
        <p style="font-size: 30; color: #FF1C19;">Invalid Email and/or Password, please try again</p>
    </div> -->
    <p style="text-align: center; margin-top: 1px;">
    <a href="/forgot-password" style="display: block; float: left" >Forgot password?</a>
        <a href="/registration" style="display: block; float: right">Create an Account! </a>
     </p>
    <!--<div style="text-align: center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>-->
    <div class="loading">Loading&#8230;</div>
</div>
<script  th:src="@{/js/index.js}"></script>
<script  th:src="@{/js/common.js}"></script>
</body>
</html>