<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="wrapper">
    <h1 id="name1">AnnotationPlus</h1>
    <h1>Reset Password</h1>
    <div th:if="${error}">
        <div class="alert alert-danger" align="center">
            <p th:text="${error}" style="font-size: 30; color: #FF1C19;"></p>
        </div>
    </div>
    <form class="form" th:action="@{/reset-password}" th:object="${passwordResetForm}" method="POST">
        <p class="error-message"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>
        <input type="hidden" name="token" th:value="${token}"/>
        <input type="password" id="password" name="password" th:placeholder="Password" class="name" th:field="*{password}">
        <p class="error-message"
           th:each="error: ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
        <input type="password" placeholder="Confirm Password"
               id="confirmPassword" name="confirmPassword" class="email" th:field="*{confirmPassword}">
        <p class="error-message"
        th:each="error: ${#fields.errors('confirmPassword')}"
        th:text="${error}">Validation error</p>
        <input name="Submit" value="Reset Password" id="resetPasswordButton" type="Submit"
               class="submit">
    </form>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<!--<script  th:src="@{/js/index.js}"></script> -->
</body>