<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/pencil.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.9.1/docxtemplater.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.0.2/jszip-utils.js"></script> -->
    <script  th:src="@{/js/common.js}"></script>
    <script  th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="loading">Loading&#8230;</div>
<div class="notify top-left" data-notification-status="success"></div>
<div class="formContainer" id="deleteSourceConfirmationContainer">
    <div class="modal fade confirmationDialog" id="confirmSourceDeleteModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" style="font-size: 15px;">
                        Are you sure you want to delete this source ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closeDialog" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteSource" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formContainer" id="deleteCategoryConfirmationContainer">
    <div class="modal fade confirmationDialog" id="confirmCategoryDeleteModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" style="font-size: 15px;">
                        Warning! This will delete all existing sources located in that category. Proceed ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closeDialog" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteCategory" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formContainer" id="updateSourceContainer">
    <form id="updateSourceForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="sourceName" style="font-size: 17px">Source Name</label>
            <span class="errorMessages" id="sourceErrorMessage"></span>
            <input type="text" class="form-control" id="sourceName" aria-describedby="emailHelp" placeholder="Source Name">
        </div>
        <button type="button" id="updateSourceName" class="btn btn-primary" disabled>Update</button>
    </form>
</div>
<div class="formContainer" id="createCategoryContainer">
    <form id="createCategoryForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="categoryNameCreateValue" style="font-size: 17px">New Category Name</label>
            <span class="categoryErrorMessage errorMessages"></span>
            <input type="text" class="form-control" id="categoryNameCreateValue" aria-describedby="emailHelp" placeholder="Category Name">
        </div>
        <button type="button" id="createCategory" class="btn btn-primary" disabled>Create</button>
    </form>
</div>
<div class="formContainer" id="updateCategoryContainer">
    <form id="updateCategoryForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="categoryName" style="font-size: 17px">Category Name</label>
            <span class="categoryErrorMessage errorMessages"></span>
            <input type="text" class="form-control" id="categoryName" aria-describedby="emailHelp" placeholder="Category Name">
        </div>
        <button type="button" id="updateCategoryName" class="btn btn-primary" disabled>Update</button>
    </form>
</div>
<div id="fileUploadContainer" class="formContainer">
    <form id="uploadFile">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <select id="sourceType" style="width: 120px;height: 20px;font-size: 14px;">
            <option value="document">Document</option>
            <option value="website">Website</option>
        </select>
        <div class="form-group" id="sourceFileContainer">
            <label for="exampleFormControlFile1" style="font-size: 17px">Please upload a file(docx,doc,txt or pdf)</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group" id="sourceUrlContainer" style="display: none;">
            <label for="sourceURL" style="font-size: 17px">URL:</label>
            <input type="text" class="form-control" id="sourceURL" aria-describedby="emailHelp" placeholder="Source URL">
        </div>
        <button type="button" id="uploadFileButton" class="btn btn-primary" disabled>Go</button>
    </form>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/home">AnnotationPlus</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/home">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/feedback">Questions/Feedback</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" th:utext="${userName}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/profile"><span class="oi oi-person"></span>Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="buttons" style="margin-bottom: 90px">
    <div id="noteButtons"style="float: right">
    <input class="btn btn-primary" type="button" value="New "id="newSource" disabled>
    <input class="btn btn-primary" type="button" value="Edit" id="editSource" disabled>
        <input class="btn btn-primary" type="button" id="openSource" value="Open" disabled>
    <input class="btn btn-primary" type="button" id="deleteSourceModal" value="Delete" disabled>
        <div style="font-size:20px; display: none; width:110px; text-align:center; cursor:pointer; border:1px solid black">
            <div style="background-color:gray; width:110px; border-bottom:1px solid black">
                Document
            </div>
            <div style="background-color:gray; width:110px;">
                Website
            </div>
        </div>
    </div>
    <div id="categoryButtons">
    <input class="btn btn-primary" type="button" id="newCategory" value="New">
    <input class="btn btn-primary" type="button" id="editCategory" value="Edit" disabled>
    <input class="btn btn-primary" type="button" id="deleteCategoryModal" value="Delete" disabled>
    </div>
    </div>
    <div class="alert alert-info" id="noCategoryInfo" style="display: none;margin-top: -50px;font-size: 19px;" role="alert">
        <b>INFO</b>! In order to add new sources you must create at least one category !
    </div>
    <div id="gridTitles">
        <div style="float: right; width: 70%; text-align: center; font-size: 25px;" >Existing Sources</div>
        <div style="width: 30%; text-align: center; font-size: 25px;" >Categories</div>
    </div>
    <div id="grids"style="margin-bottom: 8px" >
    <div id="categoryGrid" class="ag-theme-balham"></div>
    <div id="sourceGrid" class="ag-theme-balham"></div>
    </div>
</div>
<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="/admin/home">Home</a>
            ·
            <a href="/admin/feedback">Feedback</a>
            ·
            <a href="/admin/profile">Profile</a>

        </p>
        <p>AnnotationPlus &copy; 2019</p>
    </div>
</footer>
</body>
</html>


<!--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">


        $(document).ready(function () {
                  $("#passwordError").css("display","none");
            $("#close1").click(function() {
                $("#passwordError").css("display","none");
            });
            $("#userError").css("display","none");
            $("#close2").click(function() {
                $("#userError").css("display","none");
            });


            var modal = $("#myModal");





            var span = $("#close");


           // span.onclick = function() {
               // modal.style.display = "none";
           // }

            span.click(function() {
                modal.css("display", "none");
            });

            /*window.onclick = function(event) {
                if (event.target != modal) {
                    modal.css("display", "none");
                }
            }*/

//$('#retrieve-resources').click(function () {
//var displayResources = $('#display-resources');

// displayResources.text('Loading data from JSON source...');

            $.ajax({
                type: "GET",
                url: "/api/user",
                success: function(result)
                {
                   // $("#password").val(result.password);
                    $("#email").text(result.email);
                    $("#name").val(result.name);
                    $("#lastName").val(result.lastName);
                }
            });

           // var dataObject = { "name": $("#name").val(), "lastName": $("#lastName").val() };

            $( "#submit" ).click(function(e) {
                e.preventDefault();
                var btn = $(this);
                var dataObject = {"name": $("#name").val(), "lastName": $("#lastName").val() };
                btn.prop('disabled', true);
                $.ajax({
                    type: "PUT",
                    url: "/api/user",
                   // data:{ "name": $("#name").val(), "lastName": $("#lastName").val() },
                    data: JSON.stringify(dataObject),
                    contentType: "application/json",
                    dataType: "application/json",
                    /*statusCode:{
                      200:function () {
                          btn.prop('disabled', false);
                          alert("sucess");
                      }
                    },
                    error:function (data) {
                        var json = $.parseJSON(data.responseText);
                        console.log(json);
                        console.log(json.message);
                        //alert(json);
                        $(".isa_error>i").text(json.message);
                        $(".isa_error").css("display", "block");
                        btn.prop('disabled', false);
                    }*/
                    statusCode: {
                        200: function() {
                            setTimeout(function(){
                                btn.prop('disabled', false);
                            }, 1000);
                           //modal.css("display", "block");
                            $('.trigger-btn').click();

                        },
                        400: function(data) {
                            var json = $.parseJSON(data.responseText);
                            setTimeout(function(){
                                btn.prop('disabled', false);
                            }, 1000);
                            $("#userError>strong").text(json.message);
                            $('#userError').fadeIn('fast', function(){
                                //$('.isa_error').delay(3000).fadeOut();
                            });

                        }
                    }




                });

            });

            $( "#submit2" ).click(function(e) {
                e.preventDefault();
                var btn = $(this);
                var dataObject = {"password": $("#password").val(), "newPassword": $("#newPassword").val(), "confirmNewPassword": $("#confirmNewPassword").val()};
                btn.prop('disabled', true);
                $.ajax({
                    type: "PUT",
                    url: "/api/password",
                    // data:{ "name": $("#name").val(), "lastName": $("#lastName").val() },
                    data: JSON.stringify(dataObject),
                    contentType: "application/json",
                    dataType: "application/json",
                    /*statusCode:{
                      200:function () {
                          btn.prop('disabled', false);
                          alert("sucess");
                      }
                    },
                    error:function (data) {
                        var json = $.parseJSON(data.responseText);
                        console.log(json);
                        console.log(json.message);
                        //alert(json);
                        $(".isa_error>i").text(json.message);
                        $(".isa_error").css("display", "block");
                        btn.prop('disabled', false);
                    }*/
                    statusCode: {
                        200: function() {
                            setTimeout(function(){
                                btn.prop('disabled', false);
                            }, 1000);
                            //modal.css("display", "block");
                            $('.trigger-btn').click();

                        },
                        400: function(data) {
                            var json = $.parseJSON(data.responseText);
                            setTimeout(function(){
                                btn.prop('disabled', false);
                            }, 1000);
                            $("#passwordError>strong").text(json.message);
                            $('#passwordError').fadeIn('fast', function(){
                                //$('.isa_error').delay(3000).fadeOut();
                            });

                        }
                    }




                });

            });

            //$.put( "/api/user", { email: $("#email").val(), password: $("#password").val(), name: $("#name").val(), lastName: $("#lastName").val() } );
//});
        });


    </script>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
        @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

        .isa_info, .isa_success, .isa_warning, .isa_error {
            margin: 10px 0px;
            padding:12px;

        }
        .isa_error {
            color: #D8000C;
            background-color: #FFD2D2;
            display: none;
        }
        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin:10px 22px;
            font-size:2em;
            vertical-align:middle;
        }









        body{
            margin-top:20px;
            background:#f5f5f5;
        }
        /**
         * Panels
         */
        /*** General styles ***/
        .panel {
            box-shadow: none;
        }
        .panel-heading {
            border-bottom: 0;
        }
        .panel-title {
            font-size: 17px;
        }
        .panel-title > small {
            font-size: .75em;
            color: #999999;
        }
        .panel-body *:first-child {
            margin-top: 0;
        }
        .panel-footer {
            border-top: 0;
        }

        .panel-default > .panel-heading {
            color: #333333;
            background-color: transparent;
            border-color: rgba(0, 0, 0, 0.07);
        }

        form label {
            color: #999999;
            font-weight: 400;
        }

        .form-horizontal .form-group {
            margin-left: -15px;
            margin-right: -15px;
        }
        @media (min-width: 768px) {
            .form-horizontal .control-label {
                text-align: right;
                margin-bottom: 0;
                padding-top: 7px;
            }
        }






        .modal-confirm {
            color: #434e65;
            width: 525px;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }
        .modal-confirm .modal-header {
            background: #47c9a2;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 36px;
            margin: 10px 0;
        }
        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }
        .modal-confirm .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            text-shadow: none;
            opacity: 0.5;
        }
        .modal-confirm .close:hover {
            opacity: 0.8;
        }
        .modal-confirm .icon-box {
            color: #fff;
            width: 95px;
            height: 95px;
            display: inline-block;
            border-radius: 50%;
            z-index: 9;
            border: 5px solid #fff;
            padding: 15px;
            text-align: center;
        }
        .modal-confirm .icon-box i {
            font-size: 64px;
            margin: -4px 0 0 -4px;
        }
        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }
        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #eeb711;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border-radius: 30px;
            margin-top: 10px;
            padding: 6px 20px;
            border: none;
        }
        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #eda645;
            outline: none;
        }
        .modal-confirm .btn span {
            margin: 1px 3px 0;
            float: left;
        }
        .modal-confirm .btn i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }
        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }













        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    </style>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" id="form">
                <div class="panel panel-default">
                    <div class="panel-body text-center">Profile Details
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="lastName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button id="submit" th:type="button" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" id="userError" style="text-align: center">
                            <button type="button" class="close" id="close2" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail address</label>
                            <div class="col-sm-10" id="email">
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE876;</i>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h4>Great!</h4>
                                        <p>Your account has been updated successfully.</p>
                                        <button class="btn btn-success" data-dismiss="modal"><span>OK</span> <i class="material-icons">&#xE5C8;</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <form class="form-horizontal" id="form2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Current password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">New password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"  id="newPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Confirm new password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="confirmNewPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button id="submit2" type="button" class="btn btn-primary">Update Password</button>
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" id="passwordError" style="text-align: center">
                                <button type="button" class="close" id="close1" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong></strong>
                            </div>
                        </div>
                    </div>
                    <a href="#myModal" style="display:none;" class="trigger-btn" data-toggle="modal"></a>
                </form>

        </div>
    </div>
</div>

</body>
</html>-->










































<!--<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" id="form">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="lastName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Current password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">New password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="newPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Confirm New password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmNewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button id="submit" th:type="button" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                        <div class="isa_error" style="text-align: center">
                            <i class="fa fa-times-circle"></i>
                        </div>
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>Update Successfull !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>-->






