<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icons/pencil.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script  th:src="@{/js/common.js}"></script>
    <script  th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="loading">Loading&#8230;</div>
<div class="notify top-left" data-notification-status="success"></div>
<div class="formContainer" id="deleteSourceConfirmationContainer">
    <div class="modal fade confirmationDialog" id="confirmSourceDeleteModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" style="font-size: 15px;">
                        Are you sure you want to delete this source ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closeDialog" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteSource" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formContainer" id="deleteCategoryConfirmationContainer">
    <div class="modal fade confirmationDialog" id="confirmCategoryDeleteModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" style="font-size: 15px;">
                        Warning! This will delete all existing sources located in that category. Proceed ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closeDialog" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteCategory" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formContainer" id="updateSourceContainer">
    <form id="updateSourceForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="sourceName" style="font-size: 17px">Source Name</label>
            <span class="errorMessages" id="sourceErrorMessage"></span>
            <input type="text" class="form-control" id="sourceName" aria-describedby="emailHelp" placeholder="Source Name">
        </div>
        <button type="button" id="updateSourceName" class="btn btn-primary" disabled>Update</button>
    </form>
</div>
<div class="formContainer" id="createCategoryContainer">
    <form id="createCategoryForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="categoryNameCreateValue" style="font-size: 17px">New Category Name</label>
            <span class="categoryErrorMessage errorMessages"></span>
            <input type="text" class="form-control" id="categoryNameCreateValue" aria-describedby="emailHelp" placeholder="Category Name">
        </div>
        <button type="button" id="createCategory" class="btn btn-primary" disabled>Create</button>
    </form>
</div>
<div class="formContainer" id="updateCategoryContainer">
    <form id="updateCategoryForm">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <div class="form-group">
            <label for="categoryName" style="font-size: 17px">Category Name</label>
            <span class="categoryErrorMessage errorMessages"></span>
            <input type="text" class="form-control" id="categoryName" aria-describedby="emailHelp" placeholder="Category Name">
        </div>
        <button type="button" id="updateCategoryName" class="btn btn-primary" disabled>Update</button>
    </form>
</div>
<div id="fileUploadContainer" class="formContainer">
    <form id="uploadFile">
        <button type="button" class="close" aria-label="Close" style="margin-top: -22px;margin-right: -14px;font-weight: bold;color: black;opacity: 1;">
            <span aria-hidden="true">×</span>
        </button>
        <select id="sourceType" style="width: 120px;height: 20px;font-size: 14px;">
            <option value="document">Document</option>
            <option value="website">Website</option>
        </select>
        <div class="form-group" id="sourceFileContainer">
            <label for="exampleFormControlFile1" style="font-size: 17px">Please upload a file(docx,doc,txt or pdf)</label>
            <span class="errorMessages" id="uploadFileErrorMessage"></span>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
            <button type="button" id="uploadFileButton" class="btn btn-primary" disabled style="margin-top: 20px;">Go</button>
        </div>
        <div class="form-group" id="sourceUrlContainer" style="display: none;">
            <label for="sourceURL" style="font-size: 17px">URL:</label>
            <span class="errorMessages" id="sourceUrlErrorMessage"></span>
            <input type="text" class="form-control" id="sourceURL" aria-describedby="emailHelp" placeholder="Source URL">
            <button type="button" id="loadUrlButton" class="btn btn-primary" disabled style="margin-top: 20px;" >Go</button>
        </div>
    </form>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/home">AnnotationPlus</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/home">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/feedback">Questions/Feedback</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" th:utext="${userName}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/profile"><span class="oi oi-person"></span>Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="buttons" style="margin-bottom: 90px">
    <div id="noteButtons"style="float: right">
    <input class="btn btn-primary" type="button" value="New "id="newSource" disabled>
    <input class="btn btn-primary" type="button" value="Edit" id="editSource" disabled>
        <input class="btn btn-primary" type="button" id="openSource" value="Open" disabled>
    <input class="btn btn-primary" type="button" id="deleteSourceModal" value="Delete" disabled>
        <div style="font-size:20px; display: none; width:110px; text-align:center; cursor:pointer; border:1px solid black">
            <div style="background-color:gray; width:110px; border-bottom:1px solid black">
                Document
            </div>
            <div style="background-color:gray; width:110px;">
                Website
            </div>
        </div>
    </div>
    <div id="categoryButtons">
    <input class="btn btn-primary" type="button" id="newCategory" value="New">
    <input class="btn btn-primary" type="button" id="editCategory" value="Edit" disabled>
    <input class="btn btn-primary" type="button" id="deleteCategoryModal" value="Delete" disabled>
    </div>
    </div>
    <div class="alert alert-info" id="noCategoryInfo" style="display: none;margin-top: -50px;font-size: 19px;" role="alert">
        <b>INFO</b>! In order to add new sources you must create at least one category !
    </div>
    <div class="gridTitles" id="gridTitles">
        <div style="float: right; width: 70%; text-align: center; font-size: 25px;" >Existing Sources</div>
        <div style="width: 30%; text-align: center; font-size: 25px;" >Categories</div>
    </div>
    <div id="grids" class="grids" style="margin-bottom: 8px" >
    <div id="categoryGrid" class="ag-theme-balham"></div>
    <div id="sourceGrid" class="ag-theme-balham"></div>
    </div>
    <input style="margin-top: 30px;" class="btn btn-primary" type="button" value="View" id="viewAnnotation" disabled>
    <div class="gridTitles">
        <div style="text-align: center; font-size: 25px;" >Annotations</div>
    </div>
    <div class="grids">
    <div id="annotationGrid" class="ag-theme-balham"></div>
    </div>
</div>
<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="/admin/home">Home</a>
            ·
            <a href="/admin/feedback">Feedback</a>
            ·
            <a href="/admin/profile">Profile</a>

        </p>
        <p>AnnotationPlus &copy; 2019</p>
    </div>
</footer>
</body>
</html>






