<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icons/pencil.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/home">AnnotationPlus</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/admin/home">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/feedback">Questions/Feedback</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" th:utext="${userName}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="oi oi-person"></span>Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" id="form">
                <div class="panel panel-default">
                    <div class="panel-body text-center" style="font-size: 48px; font-weight: bold">Profile Details
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" class="form-control">
                            </div>
                            <span id="firstNameError" class="errors" style="font-size: 30; color: #FF1C19;"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="lastName" class="form-control">
                            </div>
                            <span id="lastNameError" style="font-size: 30; color: #FF1C19;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button id="submit" th:type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" id="userError" style="text-align: center">
                            <button type="button" class="close" id="close2" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail address</label>
                            <div class="col-sm-10" id="email">
                            </div>
                        </div>
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE876;</i>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h4>Great!</h4>
                                        <p>Your account has been updated successfully.</p>
                                        <button class="btn btn-success" data-dismiss="modal"><span>OK</span> <i class="material-icons">&#xE5C8;</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="form2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Current password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-2 control-label">New password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control"  id="newPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPassword" class="col-sm-2 control-label">Confirm new password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmNewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button id="submit2" type="button" class="btn btn-primary">Update Password</button>
                                <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                            </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" id="passwordError" style="text-align: center">
                            <button type="button" class="close" id="close1" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <a href="#myModal" style="display:none;" class="trigger-btn" data-toggle="modal"></a>
            </form>

        </div>
    </div>
    <div class="loading">Loading&#8230;</div>
</div>
<script  th:src="@{/js/profile.js}"></script>
<script  th:src="@{/js/common.js}"></script>
</body>
</html>